$theme-color-1: #f18024;
$theme-color-2: #e7523e;
$theme-color-3: #d6a779;
$theme-color-4: #dba070;
$theme-color-5: #f6c797;
$theme-color-6: #d6cdca;
$primary-color: #212121;
$secondary-color: #8f8f8f;